{% extends "user/base.html" %}
{% block content %}
{% for detail in details %}
    <article class="media content-section">
    
    <div class="media-body">
        <div class="article-metadata">
        <h2 class="mr-2" href="#">{{ detail.doctor }}</h2>
        <!-- <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small> -->
        </div>
        
    </div>
    </article>
    {% endfor %}

{% endblock content %}